<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwvBnpI2KyU9-e7kqeYKuKwdcq6mK2KN0</string>
	<key>GCM_SENDER_ID</key>
	<string>96444590784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>commerceproject-f227c</string>
	<key>STORAGE_BUCKET</key>
	<string>commerceproject-f227c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96444590784:ios:03071e149fccf2d3419b25</string>
</dict>
</plist>